### data set
https://www.kaggle.com/retailrocket/ecommerce-dataset

In [3]:
import numpy as np
import pandas as pd

### load data

In [4]:
category_tree = pd.DataFrame.from_csv('./data/category_tree.csv')

category_tree.reset_index(inplace=True)

category_tree.parentid = category_tree.parentid.fillna(-1)

category_tree.parentid = category_tree.parentid.astype('int')

events = pd.DataFrame.from_csv('./data/events.csv')

item_properties =  pd.DataFrame.from_csv('./data/item_properties_part1.csv').append(pd.DataFrame.from_csv('./data/item_properties_part2.csv')) 

events.reset_index(inplace=True)

#заменяем NaN на -1 - и приводим к int-у

events.transactionid = events.transactionid.fillna(-1)

events.transactionid = events.transactionid.astype('int')

In [5]:
events.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908             -1
1  1433224214164     992329  view  248676             -1
2  1433221999827     111016  view  318965             -1
3  1433221955914     483717  view  253185             -1
4  1433221337106     951259  view  367447             -1

In [6]:
item_properties.reset_index(inplace=True)

In [7]:
item_properties.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [9]:
print(events.shape , item_properties.shape)

(2756101, 5) (20275902, 4)

### train/test split

In [8]:
events = events.sort_values('timestamp', ascending=True)

In [11]:
events = events.reset_index(drop=True)

In [12]:
events.head()

       timestamp  visitorid      event  itemid  transactionid
0  1430622004384     693516  addtocart  297662             -1
1  1430622011289     829044       view   60987             -1
2  1430622013048     652699       view  252860             -1
3  1430622024154    1125936       view   33661             -1
4  1430622026228     693516       view  297662             -1

In [15]:
events.last_valid_index()*0.8

2204880.0

In [31]:
train_events = events.loc[events.index <= events.last_valid_index()*0.8]
test_events = events.loc[events.index > events.last_valid_index()*0.8]

In [19]:
item_properties = item_properties.sort_values('timestamp', ascending=True)
item_properties = item_properties.reset_index(drop=True)

In [33]:
print(train_events.shape, test_events.shape)

(2204881, 5) (551220, 5)

In [20]:
item_properties.head()

       timestamp  itemid   property       value
0  1431226800000  317951        790  n32880.000
1  1431226800000  422842        480     1133979
2  1431226800000  310185        776      103591
3  1431226800000  110973        112      679677
4  1431226800000  179597  available           0

In [29]:
train.tail(1).timestamp.values[0]

1439871811966

In [30]:
train_item_properties = item_properties.loc[item_properties.timestamp <= train.tail(1).timestamp.values[0]]
test_item_properties = item_properties.loc[item_properties.timestamp > train.tail(1).timestamp.values[0]]

In [34]:
print(train_item_properties.shape, test_item_properties.shape)

(18022776, 4) (2253126, 4)

### выборка разбита в соотношении 80/20 при этом в тесте присутсвуют данные старше данных в тренеровочной выбоке

### save data

In [35]:
train_events.to_csv('./data/train_events.csv')
test_events.to_csv('./data/test_events.csv')

In [36]:
train_item_properties.to_csv('./data/train_item_properties.csv')
test_item_properties.to_csv('./data/test_item_properties.csv')